---
title: Modals
---

<div class="container">
  <h1>Hello, World</h1>
</div>

<div class="modal">
  <div class="display-table">
    <div class="display-table__cell display-table__cell--middle">
      <div class="modal__content">
        <span class="modal__close">&times;</span>
        <h1>Hello, world!</h1>
      </div>
    </div>
  </div>
</div>
