---
title: Modals
---

<div class="display-table">
  <div class="display-table__cell display-table__cell--middle">
    <div class="container" style="text-align: center;">
      <a class="btn" href="javascript:void(0);">Open Modal</a>
    </div>
  </div>
</div>

<%= partial "partials/components/modal" %>
