.modal {
  @include webkit-overflow-scrolling;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  transition: all 2s;
  background-color: rgba(0,0,0,0.8);
  &__positioner {
    padding: $container-gutter;
    cursor: pointer;
  }
  &__content {
    position: relative;
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    cursor: auto;
    border-radius: $border-radius-default;
    background-color: #ffffff;
  }
}
.modal--open {
  display: block;
  .modal__content {
    animation: open 0.3s $ease-in-out-expo;
  }
}
@media (max-width: $sm-max) {
  .modal {
    &__content {
      padding: $container-gutter;
    }
  }
}
@keyframes open {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
